.cpuflags {
  margin: auto;
  text-align: center;
}

.usage {
  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.unmatched {
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  width: 79%;
}

.command-example {
  position: relative;
  margin: auto;
  width: 50%;
  font-size: medium;
}

.clipboard-icon {
  position: absolute;
  padding: 5px;
  right: 10px;
}
