.cpuflags {
  margin: auto;
  text-align: center;
}

.usage {
  margin: auto;
  padding: 10px;
  font-size: 16px;
}

.unmatched {
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  width: 79%;
}

.copyButton {
  padding: 0;
  color: inherit;
}

.code {
  padding: 0;
}
